:root {
    --orangie: #fd794d;
    --skinOrange: #ffa080;
    --sand: #fcd4c5;

    --darkestBlue: #131b42;
    --mediumDarkBlue: #202b5f;
    --mediumBlue: #2244f0;
    --lichterBlue: #5d73e5;

    --textWhite: #fafafa;
    --textBlack: #0c0c0c;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

svg {
    max-width: 100vw;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/******************
      Header
******************/
header {
    width: 100vw;
    position: relative;
    margin-bottom: -1px;
}

nav {
    z-index: 3;
    max-width: 100vw;
    width: 100vw;
    min-height: 2rem;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
}

nav ul {
    z-index: 2;
    white-space: nowrap;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 5rem;
    overflow: hidden;
}

nav li {
    list-style: none;
    display: inline-block;

    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: right;

    width: auto;
    position: relative;

    background-color: var(--mediumBlue);
    padding: 1rem 3rem 1rem 2rem;
    border-radius: 4rem 0 0 4rem;
    transform: translateX(110%);
    transition: transform .3s ease-out;
}

nav li a {
    text-decoration: none;
    color: var(--textBlack);
}

.zoekNav a {
    color: var(--textWhite);
}

nav li a:focus {
    outline: none;
}

nav li a:after {
    position: absolute;
    bottom: .8rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background: var(--darkestBlue);
    height: 2px;
    transition: all .5s;
}

nav li a:hover::after,
nav li a:focus::after {
    width: 75%;
}

/*Hamburger menu*/
.burgerMenu {
    width: 1.9rem;
    height: auto;
    margin-right: 1.5rem;
    fill: var(--darkestBlue);
}

.burgerMenu rect {
    fill: var(--textWhite);
    transition: all .3s ease-in-out;
}

/*Nav zoeken*/
nav form {
    width: 100%;
    height: auto;
}

nav input[type="text"] {
    border: 1.2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-radius: 40px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: none;
    background-image: url(../img/iconsZoek.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 1.2rem auto;
    padding: 12px 20px 12px 20px;

    transition: width .3s ease-out;
    outline: none;
    max-width: 600px;
    background-color: var(--textWhite);
}

nav input[type="text"]:focus {
    animation: searchAni .5s ease-in-out alternate forwards;
}

.themeSwitch {
    width: 20px;
    height: 20px;
    background-color: greenyellow;
}

/*Menu uitgeklapt*/
.menuActive li{
    transform: translateX(0);
}


/*Header landing pagina*/
.homeHeader {
    background-image: url(../img/headerBg.svg);
    background-size: cover;
    background-position: bottom right;
    height: 99vh;
    background-color: var(--sand);
    box-shadow: inset 0px -10px 0px 0px var(--darkestBlue);
}

.manSteen {
    max-height: 450px;
    min-width: 100px;
    max-width: 70vw;

    position: absolute;
    bottom: 0px;
    right: 0;
}

.homeHeader .burgerMenu rect {
    fill: var(--textBlack);
}

.homeHeader nav a {
    color: var(--textWhite);
}

/*Home header knop*/
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    margin-bottom: 55px;
}

.homeHeader section {
    position: absolute;
    top: 20vh;
    width: 100%;
}

.homeHeader section a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: var(--textWhite);
    background-color: var(--orangie);
    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;

    transition: all .25s ease;
}

.homeHeader section a:hover,
.homeHeader section a:focus {
    background-color: var(--skinOrange);
    color: var(--textBlack);
}



/******************
        Main
******************/
main {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--darkestBlue);
    width: 100vw;
    padding-bottom: 3rem;
}

h2 {
    color: var(--textWhite);
    margin: 0 0 .7em 1rem;
}

.slider {
    width: 100vw;
}

.slider ul {
    padding: 0 1.1rem;
    box-sizing: border-box;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, auto);
    overflow-x: scroll;
    grid-gap: 1.1rem;
}

.slider li {
    box-sizing: border-box;
    padding: 1.2rem 1.5rem;
    width: 65vw;
    height: 185px;
    background-color: var(--sand);
    border-radius: 10px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "itemPic itemContent"
        "itemLink itemLink";

    align-items: center;
}

.slider a {
    color: var(--textWhite);
    background-color: var(--mediumBlue);

    display: block;
    font-size: 1rem;

    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;

    width: 100%;

    transition: all .25s ease;

    grid-area: itemLink;
}

.favIcon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .3 ease;
    background-color: var(--mediumBlue);
    mask: url(../img/iconHart-01.svg) no-repeat 50% 50%;
    -webkit-mask: url(../img/iconHart-01.svg) no-repeat 50% 50%;
}

.favIconActive {
    transition: all .3 ease;
    background-color: var(--orangie);
}

.slider .itemContent {
    grid-area: itemContent;
}

.slider p,
.slider h3 {
    margin-left: .7rem;
}

.slider a:hover,
.slider a:focus {
    background-color: var(--lichterBlue);
    color: var(--textBlack);
}

.slider .pic {
    width: 75px;
    height: 75px;
    background-color: var(--mediumBlue);
    border-radius: 18px;

    grid-area: itemPic;
}




#zoeken {
    padding-top: 6rem;
}

/*form defeault stijling*/
form {
    width: 100%;
}


/*Slider*/
input[type=range] {
    -webkit-appearance: none;
    margin: .2rem 0 .7rem 0;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--textWhite);
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: var(--mediumBlue);
    cursor: pointer;
    border-radius: 50%;
}

input[type=range]:focus::-webkit-slider-thumb {
    background: var(--sand);
}


/*Tekst field*/
input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 25px;
    /* max-width: 80vw; */
    margin: .7em 0;
    display: inline-block;
    border: 1.2px solid var(--text-col1);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--mediumDarkBlue);
}

input[type=text]::placeholder {
    color: #cccccc;
    font-size: .85rem;
}

input[type=text]:focus {
    outline: none;
    background-color: var(--mediumBlue);
}

/*Submit*/
input[type=submit],
button {
    border: none;
    cursor: pointer;

    font-size: 1rem;
    padding: 16px 32px;
    background-color: var(--mediumBlue);
    border-radius: 4px;
    color: var(--textWhite)
}


label {
    color: var(--textWhite);
}

.viewRange {
    color: var(--textWhite);
}



/*Zoekresultaten stijling*/
.searchResult {
    padding: 1.1rem;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    max-width: 1300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: auto;
    justify-items: center;

    align-items: center;
    grid-gap: 1.1rem;
}

.searchResult li {
    box-sizing: border-box;
    padding: 1.2rem 1.5rem;
    width: 100%;
    max-width: 600px;
    height: 185px;
    background-color: var(--sand);
    border-radius: 10px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "itemPic itemContent"
        "itemLink itemLink";

    color: var(--textWhite);

    margin: 0;

    align-items: center;
}

.searchResult a {
    color: var(--textWhite);
    background-color: var(--mediumBlue);

    display: block;
    font-size: 1rem;

    padding: 14px 32px;
    border-radius: 100px;
    text-align: center;
    max-width: 130px;
    margin: 0 auto;

    width: 100%;
    align-self: center;

    transition: all .25s ease;

    grid-area: itemLink;
}

.searchResult .pic {
    width: 75px;
    height: 75px;
    background-color: var(--mediumBlue);
    border-radius: 18px;

    grid-area: itemPic;
}

.slider svg {
    max-width: 1.3rem;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;

    fill: var(--mediumBlue);
}









/*Zoeken form*/
#zoeken form {
    margin: 0 auto;
    width: 90vw;
    max-width: 800px;
}

.getLocation {
    border-radius: 10px;
    width: 25px;
    height: 25px;
    margin: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);

    margin: .7em 0;

    padding: 25px 25px;
    outline: none;

    background-color: var(--mediumBlue);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
}

.getLocation svg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    transform: scale(.65);
}

form fieldset {
    margin-bottom: 1rem;
}

/*Fieldset*/
.zoekLocatie {
    width: 100%;
    overflow: hidden;
}

.zoekLocatie {
    color: var(--textWhite);
    border: 0;
    padding: 1rem 0;
}

.zoekLocatie input[type=text] {
    box-sizing: border-box;
    max-width: calc(100% - 60px);
    margin: 0;
}

.zoekLocatie button {
    margin: 0 0 0 1rem;
}

.zoekLocatie div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/******************
      Footer
******************/

footer {
    text-align: center;
    background-color: var(--darkestBlue);
}

footer p {
    color: var(--textWhite);
}

@media screen and (min-width: 768px) { 
    nav form {
        max-width: 50vw;
    }

    .zoekNav li a {
        color: var(--textWhite);
    }

    nav li {
        margin-bottom: .5em;
    }

    .manSteen {
        max-height: 70vh;
    }

    .slider ul {
        padding: 0 1.1rem;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        overflow-x: auto;
        grid-gap: 1.1rem;

        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }

    .slider li {
        box-sizing: border-box;
        padding: 1.2rem 1.5rem;
        width: 100%;
        height: 185px;
        background-color: var(--sand);
        border-radius: 10px;

        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            "itemPic itemContent"
            "itemLink itemLink";

        align-items: center;
    }



    .getLocation {
        border-radius: 10px;
        width: 50%;
        max-width: 15rem;;
        height: auto;
        margin: 0 0 0 1rem;
        box-sizing: border-box;
        color: var(--textWhite);
    
        padding: 13px 25px 13px 45px;
        outline: none;
    
        background-color: var(--mediumBlue);
        position: relative;
        text-align: left;
    }
    
    .getLocation svg {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
        transform: scale(.65);
    }
}

@media screen and (min-width: 1024px) {
    .slider li {
        height: 350px;

        grid-template-columns: 1fr;
        grid-template-areas:
            "itemPic"
            "itemContent"
            "itemLink";

        align-items: center;
    }

    .slider .pic {
        width: 175px;
        height: 175px;
    }
}


/*Animatie*/
@keyframes searchAni {
    from {
        border: 1.2px solid rgba(0, 0, 0, 0);
        padding: 12px 20px 12px 20px;
    }

    15% {
        width: 2rem;
        padding: 12px 20px 12px 40px;
    }

    25% {
        border-color: var(--mediumBlue);
    }

    to {
        width: 100%;
        border-color: var(--mediumBlue);
        padding: 12px 20px 12px 40px;
    }
}

@keyframes navBg {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 200vw;
        height: 200vw;
    }
}

/*burger*/
.menuActive rect:first-child {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(4px, -4px);
}

.menuActive rect:nth-child(2) {
    opacity: 0;
}

.menuActive rect:last-child {
    transform-origin: 0 100%;
    transform: rotate(-45deg) translate(4.5px, 2.5px);
}





/*SVG kleuren*/
.st1 {
    fill: var(--darkestBlue);
}

.st2 {
    fill: #E59E8B;
}

.st3 {
    fill: #10183C;
}

.st4 {
    fill: #B27F6D;
}

.st5 {
    fill: #F3F0ED;
}

.st6 {
    fill: #B77D6E;
}

.st7 {
    fill: #C08974;
}

.st8 {
    fill: #202B5F;
}

.st9 {
    fill: #B67D6B;
}

/*wolk gradients*/
.st10 {
    fill: url(#SVGID_1_);
}

.st11 {
    fill: url(#SVGID_2_);
}

.st12 {
    fill: url(#SVGID_3_);
}

.st13 {
    clip-path: url(#SVGID_5_);
    fill: #FCD4C5;
}

.st14 {
    clip-path: url(#SVGID_5_);
    fill: #131B42;
}

.st15 {
    clip-path: url(#SVGID_5_);
    fill: url(#SVGID_6_);
}

.st16 {
    clip-path: url(#SVGID_5_);
    fill: #202B5F;
}

.st17 {
    clip-path: url(#SVGID_5_);
    fill: #FFA080;
}

.st18 {
    clip-path: url(#SVGID_5_);
}

.st19 {
    fill: url(#SVGID_7_);
}

.st20 {
    fill: url(#SVGID_8_);
}

.st21 {
    fill: url(#SVGID_9_);
}

.st22 {
    clip-path: url(#SVGID_5_);
    fill: url(#SVGID_10_);
}

.st23 {
    fill: #FD794D;
}

.st24 {
    fill: #FCD4C5;
}

.st25 {
    fill: #2244F0;
}

.st26 {
    fill: #FFA080;
}

.st27 {
    fill: #5D73E5;
}